.backdrop_dms {
    /* position fixed you cant scroll it away */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba( 0,0,0,0.2);
    z-index: 200;
    /* overflow: hidden; */
}