.my_layout_main_div {
    min-height: 100vh;
    display: flex;  
      justify-content: center;
    align-items: center;
    background-color:rgb(237, 239, 243);
}   

.my_layout_wrap{
  margin-top:70px;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 250px;
    box-sizing:border-box;
    padding:10px;
    /* background-color: antiquewhite; */
}